<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="MBkphLQAzeNpjPLl-zpIgFerLomK1Ah96Z2IElRmWWQ"
    />
    <meta name="description" content="Compress Your Image Fastly!" />
    <link rel="icon" href="/favicon.png" />
    <meta property="og:url" content="https://imagecompresser.net/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="The Fastest Imagecompressor" />
    <meta property="og:description" content="Compress Your Image Fastly!" />
    <meta property="og:image" content="/svg/lightning.svg" />
    <meta property="fb:app_id" content="804086021269513" />
    <title>The Fastest Imagecompressor</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/output.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </head>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-J4HJCKP67Y"
  ></script>
  <script
    async
    defer
    crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-J4HJCKP67Y");

    window.fbAsyncInit = function () {
      FB.init({
        appId: "804086021269513",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v17.0",
      });
    };
  </script>
  <body class="bg-slate-300">
    <div
      id="drop-area"
      class="z-20 w-full h-full fixed flex top-0 justify-center items-center text-9xl font-en-title"
    ></div>
    <div
      id="congratulations"
      class="text-6xl font-en-title fixed flex justify-center items-center shadow-2xl z-30 invisible"
    >
      🎉Congratulations!! you leveled up!!🎉
    </div>
    <!-- Content -->
    <div
      class="bg-white h-auto w-ContentWidth pb-5 mb-5 mx-auto pt-4 rounded-xl"
      id="content-container"
    >
      <!-- TitleSvg -->
      <header class="border-b">
        <img
          src="svg/ImageCompresserIcon.svg"
          alt="Title"
          width="1000px"
          height="300px"
        />
      </header>
      <!-- We focus on speed -->
      <h1
        class="font-en-title w-full h-auto flex items-center justify-center text-70px"
        id="We-focus-on-speed-en"
      >
        We focus on <u class="pl-4">Speed</u>!
      </h1>
      <!-- Here our site's feature -->
      <p
        class="font-en-title w-full h-auto flex items-center justify-center text-70px"
        id="feature-explain-en"
      >
        ⬇️Here our site's feature⬇️
      </p>
      <!-- Site's Feature -->
      <div
        class="grid grid-rows-2 grid-cols-2 w-4/5 my-0 mx-auto font-en-title text-article cursor-pointer"
        title="Don't you want to know why?"
      >
        <div
          class="flex items-center justify-center flex-col border-b-2 pb-3 z-20 hover:bg-slate-100"
          id="private"
        >
          <img
            src="/svg/private.svg"
            alt="private-feature"
            width="130px"
            height="130px"
          />
          <p class="text-center">
            Nobody can't see your image except <u>you</u>!
          </p>
        </div>
        <div
          class="flex items-center justify-center flex-col border-l-2 border-b-2 pb-3 z-20 hover:bg-slate-100"
          id="saving"
        >
          <img
            src="/svg/saving.svg"
            alt="saving-feature"
            width="130px"
            height="130px"
          />
          <p class="text-center">
            You don't care anymore, save <u>your energy</u>!
          </p>
        </div>
        <div
          class="flex items-center justify-center flex-col z-20 hover:bg-slate-100"
          id="infinite"
        >
          <img
            src="/svg/infinite.svg"
            alt="infinite-feature"
            width="130px"
            height="130px"
          />
          <p class="text-center">
            You can convert any number of images!! It's <u>free</u>!
          </p>
        </div>
        <div
          class="flex items-center justify-center flex-col border-l-2 z-20 hover:bg-slate-100"
          id="speed"
        >
          <img
            src="/svg/speed.svg"
            alt="speed-feature"
            width="130px"
            height="130px"
          />
          <p class="text-center">You don't have to wait!</p>
          <p class="text-center">Because super <u>Fast</u>!</p>
        </div>
      </div>
      <!-- So What I do to use? -->
      <div
        class="font-en-title w-full flex flex-col items-center justify-center text-article"
      >
        <p class="text-70px">So What I do to use?</p>
        <div class="flex w-full justify-center">
          <div class="flex flex-col w-WhatIdo">
            <lottie-player
              src="https://assets1.lottiefiles.com/packages/lf20_x6gojhex.json"
              background="transparent"
              speed="1"
              loop
              autoplay
            ></lottie-player>
            <p class="text-center">Click the moving box and choose image!</p>
          </div>
          <p class="flex items-center text-70px px-3">or</p>
          <div class="flex flex-col w-WhatIdo">
            <div class="flex items-center justify-center h-WhatIdo">
              <lottie-player
                src="https://assets5.lottiefiles.com/packages/lf20_zjo2yrxn.json"
                background="transparent"
                speed="1"
                style="width: 150px; height: 150px"
                loop
                autoplay
              ></lottie-player>
            </div>
            <p class="text-center">Drag image on anywhere!</p>
          </div>
        </div>
      </div>
      <!-- file receiver -->
      <div class="flex justify-center">
        <label
          for="file"
          class="bg-yellow-300 hover:bg-yellow-400 font-en-button rounded-xl ClickMe z-20"
          >Click me!</label
        >
        <input type="file" id="file" multiple hidden />
      </div>
      <!-- If you've used joyfully, Share our site! -->
      <div
        class="w-full flex flex-col justify-center items-center border-t-2 pt-5"
      >
        <p class="font-en-share text-3xl pb-3" id="share-phrases-en">
          If you've used joyfully, Share our site to your friends!
        </p>
        <div
          class="flex justify-between items-center"
          style="width: 300px; max-height: 60px"
        >
          <img
            src="/svg/Facebook.svg"
            alt="FacebookShare"
            class="shareIcon z-20"
            id="FacebookShare"
          />
          <img
            src="/svg/Twitter.svg"
            alt="TwitterShare"
            class="shareIcon z-20"
            id="TwitterShare"
          />
          <img
            src="/svg/URL.svg"
            alt="URL"
            class="shareIcon z-20"
            id="URLShare"
          />
        </div>
      </div>
    </div>
    <!-- Lisence -->
    <div class="w-full flex justify-center items-center">
      <b
        >Icon made from
        <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed
        by CC BY 3.0</b
      >
    </div>
    <!-- level tooltip -->
    <div
      class="fixed top-10 left-10 bg-slate-50 rounded-xl w-52 h-EXPToolTip cursor-grab active:cursor-grabbing z-20"
      id="level-tooltip"
    >
      <p id="level-indicator" class="pl-3 font-en-level">Your Level: 1</p>
      <div class="flex justify-center items-center">
        <progress class="w-48"></progress>
      </div>
      <p class="absolute exp" id="EXP-indicator"></p>
      <div class="absolute z-20 top-0 left-0 levelTooltipDrag"></div>
    </div>

    <!-- feature Component -->
    <div
      id="feature-Component"
      class="fixed bg-slate-100 rounded-xl px-5 z-30 hidden"
    >
      <div id="feature-Component-title" class="font-en-title">That is why!</div>
      <div
        id="feature-Component-article"
        class="bg-white font-en-article h-80"
      ></div>
      <div
        id="feature-Component-close"
        class="font-en-title flex justify-center items-center cursor-pointer w-auto"
      >
        close
      </div>
    </div>
  </body>
  <script type="module" src="js/index.js"></script>
</html>
